NODE_ENV=production
PORT=3001
MONGO_URI=mongodb+srv://username:password@cluster.example.mongodb.net/sahas
FRONTEND_ORIGINS=http://localhost:3000,https://sahascooperatives.netlify.app,https://sahas.coop.np,https://www.sahas.coop.np
MONGO_SERVER_SELECTION_TIMEOUT_MS=10000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GMAIL_USER=
PASSWORD=
